/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #0073e6;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}


